

/* Custom font */



@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

#welcomeDiv {
  text-align: center;
  font-family: 'Piedra', cursive; 
  color: white;
  background-image: url('../../cookie-stand/images/hiclipart.com.png') ;
  background-size: 750px 400px, contain;
  background-repeat: no-repeat;
  background-position: center bottom 10px; 
  height: 200px;
  width: 100%;
margin-bottom: 160px;
/* background-color: tomato; */
}

/* banner */


.welcomeSpan{
  color: #ff6666;
}

.welcomeSpan2{
  color: #66ff7a;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.data{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 19px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #4C05FF;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  font-size: xx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}


/* 

Slider


*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;

  max-height: 300px;

  overflow: hidden;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Images for slide */

.imgslide{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #e98008;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: -20px 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {   
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#linkToSales{

  font-size: x-large;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 100px;
  position: absolute;
  background: url(../images/flip.png); 
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 9px;
  z-index: -1;
  font-family: 'Piedra', cursive; 
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(13, 7, 70);
}

a{
  color: rgb(230, 230, 95);
}

a:hover, :visited{
  color: rgb(102, 171, 236);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

#footerDiv{
  position: absolute;
width: 100%;
  height: 60px;
  background-color: aqua;
  background-image: linear-gradient(rgb(23, 32, 155), rgb(155, 23, 155), rgb(62, 84, 158),  rgb(0, 119, 255),  rgb(0, 162, 255), rgb(142, 75, 151) );
bottom: 0;

}

body{
  overflow: hidden;
}

#flipDiv1{
  height: 200px;
  width: 200px;
  position: absolute;
bottom: -80px;
z-index: -2;
animation: spin 5s linear infinite; 

}

#fish1{
  height: 50px;
  width: 50px;
  background-color: brown;
  position: relative;
  top: 0;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); 
  
  background: url(../images/flip.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 100%;
  overflow: hidden;

}

#flipDiv2{
  height: 200px;
  width: 200px;
  position: absolute;
bottom: -80px;
right: 0;
z-index: -2;
animation: spin2 5s linear infinite; 

}

#fish2{
  height: 50px;
  width: 50px;
  background-color: brown;
  position: relative;
  top: 0;
  margin: auto;
 
  
  background: url(../images/flip.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 100%;
  overflow: hidden;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes spin2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}






/* 

Styles for Sales


*/

#salesEverythingHolder{
  width: 900px;
  background-color: rgb(224, 77, 77);
  border: solid white 8px;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
}

#welcomeDiv2 {
  text-align: center;
  font-family: 'Piedra', cursive; 
  color: white;
  background-image: url('../../cookie-stand/images/hiclipart.com.png') ;
  background-size: 750px 400px, contain;
  background-repeat: no-repeat;
  background-position: center bottom 10px; 
  height: 200px;
  width: 100%;
margin-bottom: 20px;
/* background-color: tomato; */
}

.centered2 {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


*{
  margin: 0;
}

html {
  background-image:
    linear-gradient(to bottom, rgba(241, 35, 231, 0.52), rgba(34, 19, 117, 0.73), rgba(46, 204, 94, 0.73), rgba(255, 252, 78, 0.73), rgba(219, 101, 32, 0.73), rgba(221, 41, 41, 0.73)),
    url(https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png);
    background-repeat: repeat repeat;
    background-size: 300px 100px;
}

body{
  text-align: center;
  background: transparent;
}

input{
  float: right;
  color: darkgreen;
  float: right;
text-align: center;
}

#mainTitle{
  margin-bottom: 20px;
}

#formHolder{
  width: 450px;
  height: 300px;
  float: left;
padding: 40px;

font-family: 'Piedra', cursive; 
  font-size: large;
  color: rgb(78, 20, 224);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(32, 9, 9);

}

#linkToHome{ 
  float: left;
  margin-top: 50px;
  margin-left: 100px; 
  font-size: x-large;
  height: 200px;
  width: 200px;
  background: url(../images/flip.png); 
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  font-family: 'Piedra', cursive; 
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(27, 17, 122);
  background-color:white;
border-radius: 1000px;
padding-top: 150px;
color: #e29c9c;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(78, 18, 18);

border-color: rgb(245, 135, 135) rgb(245, 135, 135);
}



#tableDiv{


  width: 900px;



  padding: 20px;

  border-radius: 10px;

}

#cookieTable{
  overflow-y: scroll;
  display: inline-block;
  font-family: 'Piedra', cursive; 
  font-size: large;
  color: rgb(78, 20, 224);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(32, 9, 9);
  max-height: 240px;
}

#formButton{
  background-color: rgb(35, 82, 60);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border-color: rgb(245, 135, 135) rgb(245, 135, 135);
  color: aliceblue;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(32, 9, 9);
  cursor: pointer;
}